{% extends 'mainapp/base.html' %}
{% block title %}
  Бутырский район
{% endblock %}

{% block nazv %}
  Бутырский район
{% endblock %}

{% block mainpart %}
  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac5aea6706306bbcc9e1157f562b265476b9331228d71e4c48cfa2ba23558f545&amp;width=633&amp;height=467&amp;lang=ru_RU&amp;scroll=true"></script>
{% endblock %}

{% block aside %}
<b><li>Новодмитровская улица, 2к4</li></b>
<b><li>Бутырская улица, 2/18</li></b>
<b><li>Улица Руставели, 6к5</li></b>
<b><li>Улица Фонвизина, 17</li></b>
<b><li>Улица Яблочкова, 21</li></b>
<b><li>Складочная улица, 1с1</li></b>
<b><li>Улица Милашенкова, 8</li></b>
{% endblock %}
