{% extends 'mainapp/base.html' %}
{% block title %}
  Лианозово
{% endblock %}

{% block nazv %}
  Лианозово
{% endblock %}

{% block mainpart %}
  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4a826ac2f537d46e9dca68425d6d296f6b133c2cdfb0cd593cf36d6b3c559798&amp;width=633&amp;height=467&amp;lang=ru_RU&amp;scroll=true"></script>
{% endblock %}
{% block aside %}
<b><li>Алтуфьевское шоссе, 93</li></b>
<b><li>Череповецкая улица, 17</li></b>
<b><li>Череповецкая улица, 18</li></b>
<b><li>Абрамцевская улица, 24А</li></b>
<b><li>Абрамцевская улица, 3</li></b>
{% endblock %}
