{% extends 'mainapp/base.html' %}
{% block title %}
  Лосиноостровский район
{% endblock %}

{% block nazv %}
  Лосиноостровский район
{% endblock %}

{% block mainpart %}
  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4dc1b0b077cbeb16fcf4ec9944dbd033d91ca2e09ab28984d0af22f045f81d9c&amp;width=633&amp;height=467&amp;lang=ru_RU&amp;scroll=true"></script>
{% endblock %}

{% block aside %}
<b><li>Улица Малыгина, 7с2</li></b>
<b><li>Тайнинская улица, 16к1</li></b>
<b><li>Изумрудная улица, 24</li></b>
{% endblock %}
