{% extends 'mainapp/base.html' %}
{% block title %}
  Отрадное
{% endblock %}

{% block nazv %}
  Отрадное
{% endblock %}

{% block mainpart %}
  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A30d308a9e76ed317256ff177a45d16334eb45319014bd1d56a0f052e91947278&amp;width=633&amp;height=467&amp;lang=ru_RU&amp;scroll=true"></script>
{% endblock %}
{% block aside %}
<b><li>Улица Римского-Корсакова, 11к5</li></b>
<b><li>Улица Римского-Корсакова, 18</li></b>
<b><li>Каргопольская улица, 18с1</li></b>
<b><li>Отрадная улица, 7</li></b>
<b><li>Улица Декабристов, 35Гс1</li></b>
<b><li>Улица Декабристов, 15с2</li></b>
<b><li>Улица Хачатуряна, 18А</li></b>
{% endblock %}
