{% extends 'mainapp/base.html' %}
{% block title %}
  Северное Медведково
{% endblock %}

{% block nazv %}
  Северное Медведково
{% endblock %}

{% block mainpart %}
  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac80e709b935cc8299da0567c42d0965688475fb7dc86274dbe9978caba93443a&amp;width=633&amp;height=467&amp;lang=ru_RU&amp;scroll=true"></script>
{% endblock %}

{% block aside %}
<b><li>Широкая улица, 2А</li></b>
<b><li>Полярная улица, 20</li></b>
<b><li>Улица Молодцова, 2А</li></b>
<b><li>Сухонская улица, 15с2</li></b>
<b><li>Улица Грекова, 22</li></b>
<b><li>Широкая улица, 27</li></b>
<b><li>Широкая улица, 1к1</li></b>
{% endblock %}
